.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);
}

.navbar p{
    color: tomato;
    font-weight: 700;
    font-size: 38px;
}
.navbar .profile{
    width: 40px;
}